name: CI / Automated testing

on:
  pull_request:
    branches:
      - '**'

env:
  DEPENDENCIES_CACHE: npm-cache

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Cache npm modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ env.DEPENDENCIES_CACHE }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ env.DEPENDENCIES_CACHE }}-

      - name: Install deps in quiet mode
        run: npm ci -q

  build-and-test:
    runs-on: ubuntu-latest
    needs: install-deps
    strategy:
      fail-fast: false
      matrix:
        target: ['lint', 'format', 'build', 'test']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Cache npm modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ env.DEPENDENCIES_CACHE }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ env.DEPENDENCIES_CACHE }}-

      - name: Install deps in quiet mode
        run: npm ci -q

      - name: Execute ${{ matrix.target }} npm script
        run: npm run ${{ matrix.target }}
